/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  scroll-behavior: smooth;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
  color: #4d4e53;
  background-color: #fff;
}

/* Layout */

#app {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
}

#navbar {
  position: sticky;
  top: 0;
  height: 100vh;

  border-right: solid #99a1a1;
  min-width: 290px;
}

#navbar header {
  font-size: 2.6rem;
  text-align: center;
  font-weight: 500;
  color: black;
  margin: 10px;
}

#navbar ul {
  height: 88vh;
  overflow: auto;
  margin: 16px 0;
}
#navbar li {
  list-style: none;

  color: #4d4e53;
  border-top: 1px solid;
}

#navbar li a {
  text-decoration: none;
  padding: 10px 30px;
  display: block;
  color: #4d4e53;
}

#main-doc {
  margin: 8px 0 0 15px;
  padding-bottom: 20px;
  overflow: auto;
}

#main-doc .main-section {
  padding: 20px 0 0 20px;
  margin-bottom: 15px;
}

#main-doc .main-section header {
  font-size: 2.7rem;
  font-weight: 500;
  color: black;
}

.main-section article {
  margin: 15px;
}

.main-section article p {
  margin: 15px 0;
}

.main-section article ul {
  padding-left: 55px;
}

.main-section article ul li {
  margin: 15px 0 0 0;
}

.main-section code {
  display: block;
  text-align: left;
  white-space: pre-line;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

/* Responsive */
@media only screen and (max-width: 816px) {
  #app {
    display: block;
  }
  #navbar {
    position: absolute;
    top: 0;
    width: 100%;
    max-height: 275px;
    border-right: none;
    border-bottom: 2px solid;
  }

  #navbar ul {
    height: 207px;
    border: 1px solid;
  }

  #main-doc {
    margin: 270px 0 110px 0;
  }
}